{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "Json": "./app/json",
        "Components": "./app/components",
        "Containers": "./app/containers",
        "Themes": "./app/themes",
        "Utils": "./app/utils"
      }
    }]
  ]
}