{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-sort-props": [0, { "callbacksLast": true }],
    "react/sort-prop-types": [0, { "callbacksLast": true }],
    "indent" : ["error", 4],
    "react/jsx-indent" : ["error", 4, { "ignoredNodes": ["JSXElement *"] }],
    "react/jsx-indent-props": ["error", 4],
    "no-unused-vars": [1],
    "comma-dangle": [1],
    "react/prop-types": [0]
  }
}